<% provide(:title, "Reedit") %>



<table class="main-table-border">
<tr>
<td rowspan="2" valign="top" align="center" class="main-td-border">
	<h1>Welcome to Reedit</h1>
	<%= image_tag("ReeditLogo1.png") %>
<td class="main-td-border">
<table border="0">
  <%= form_for(:user) do |f| %>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td colspan="2" align="middle"><%= f.submit "Sign In", class: "register-btn" %></td>
    </tr>
  <% end %>
</table>
</td>
</tr>
<tr>
<td align="center"><a href="signup/">Sign Up for Reedit</a></td>
</tr>
</table>
