<% provide(:title, "Reedit") %>

<div id="welcome" class="content">
	<h1>Welcome to Reedit!</h1>
</div>

<div id="page">
	<div id="whatis" class="content">
		<h2>What is Reedit?</h2>
		<p style="font-family: Raleway, sans-serif;color:black;margin:10px;"> 
	Reedit is a brand new take on the social network. Combining the convenience of Twitter and the voting of Reddit, Reedit ensures that the best reeds become the biggest reads!
	</p>
	</div>

	<div id="login" class="content">
		<h2> Login </h2>
		
  		<%= form_for(:session) do |f| %>
    		<tr>
      		<td><%= f.label :name %></td>
     		<td><%= f.text_field :name %></td>
    		</tr>
   		<tr>
      		<td><%= f.label :password %></td>
      		<td><%= f.password_field :password %></td>
    		</tr>
    		<tr>
    		<td><%= f.submit "Sign In", class: "register-btn" %>
		</td>
   	 	</tr>
  		<% end %>
	
		<div id = "text">
			Not a member? Join today!
		</div>

		<tr>
		<td><a href="signup/"> Sign Up for Reedit</a></td>
		</tr>
	</div>


</div>





