<% provide(:title, 'Reedit - Create an Account') %>
<h1>Sign Up for Reedit</h1>
<div class="row">
	<div class="span6 offset3">
		<table border="0">
			<%= form_for(:user) do |f| %>
				<%= render 'shared/error_messages' %>
				<tr>
					<td><%= f.label :name, "Username" %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><%= f.label :email, "E-mail" %></td>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td><%= f.label :password %></td>
					<td><%= f.password_field :password %></td>
				</tr>
				<tr>
					<td><%= f.label :password_confirmation, "Password Confirmation" %></td>
					<td><%= f.password_field :password_confirmation %></td>
				</tr>
				<tr>
					<td colspan="2" align="middle"><%= f.submit "Sign Up", class: "register-btn" %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
