<% provide(:title, "(" << @user.name << ") on Reedit") %>
<div id="page">
	<div id="profile">
		<table border="1" class="profilebackground">
			<tr>
			<td>
			<table border="1" class="profilebackground">
				<tr>
					<td colspan="4" align="center">
						<img src="/assets/profilepic.png" class="profilepic" alt="profilepic">
					</td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<h3><%= @user.name %></h3>
					</td>
				</tr>
				<tr>
					<td>
						<%= pluralize(@posts.count, "Post") %>
					</td>
					<td>
						0 Following
					</td>
					<td>
						0 Followers
					</td>
					<td>
						Follow
					</td>
				</tr>
			</table>
			</td>
			<td>
	</div>
	<div id="postcolumn">
		<div id="postbox", style=display:inline'>
			<%= form_for(:post, url: '/post') do |f| %>
			<%= f.text_area :content, :rows => "5", :cols => "60"%>
			<%= f.submit  "Post", class: "register-btn" %>
			<% end %>
		</div>
		<div id="posts">
		<% if @posts.any? %>
			<%= render @posts %>
		<% else %>
			<p>Boo! :( <%= @user.name %> has not made any posts.</p>
		<% end %>
	</div>
</div>
</td>
</tr>
</table>
</div>
